*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  padding: 50px;
}

.container {
  height: 100%;

  border: 5px solid green;
  background-color: mediumspringgreen;

  display: grid;
  align-content: center;
  justify-content: center;

  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.blue {
  border: 5px solid blue;
  background-color: aqua;

}

.main-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.main-2 {
  display: grid;
  grid-template-columns: 55% auto;
  gap: 20px;
  padding: 20px;
}

.main-3 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 20px;
  padding: 20px;
}

.sub12 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.sub22 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}

.orange {
  border: 5px solid orangered;
  background-color: lightsalmon;
}

.purple {
  border: 5px solid indigo;
  background-color: mediumpurple;
}

.red {
  border: 5px solid crimson;
  background-color: pink;
}